<div id="subscribe-form-wrap">
  <form id="subscribeForm" autocomplete="off" novalidate>
    <input type="text" name="FirstName" placeholder="First Name" autocomplete="off" required>
    <input type="text" name="LastName" placeholder="Last Name" autocomplete="off" required>
    <input type="email" name="EmailAddress" placeholder="Email" autocomplete="off" required>
    <button type="submit" id="subscribeBtn">Subscribe</button>
    <div id="subscribeStatus"></div>
  </form>
</div>

<div id="subscribe-success" style="display:none;">
  <h4>You&rsquo;re In!</h4>
  <p>Check your email to confirm your subscription.</p>
</div>
